.update-password {
  margin: 2rem 0 0 1rem;
  padding: 0.3rem 1rem;
  font-size: 1.4rem;
  color: var(--dark-purple);
  background-color: var(--light-purple);
  border: none;
  border-radius: 2px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
}
