.update-password {
  margin-left: 1rem;
  padding: 0.3rem 1rem;
  font-size: 1.4rem;
  color: var(--dark-purple);
  background-color: var(--light-purple);
  border: none;
  border-radius: 2px;
}

.overlay .profile-form {
  margin: 0;
  padding: 3rem;
}
