header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
  display: flex;
  justify-content: space-between;
  background-color: var(--light-green);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
  color: var(--dark-purple);
}

.header-nav {
  margin-left: 2rem;
}

.header-nav > ul {
  display: flex;
  padding: 0;
}

.header-nav > ul > li {
  padding: 0.5rem;
}

.account-section {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.account-section > a {
  display: block;
  padding: 0.5rem;
}
