header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
  background-color: var(--light-green);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  color: var(--dark-purple);
}

.header-nav {
  margin-inline: 2rem;
}

.header-nav > ul {
  display: flex;
}

.header-nav > ul > li {
  padding: 0.5rem;
}

.cart-container {
  position: relative;
}

.cart-icon {
  font-size: 1.6rem;
}

.cart-quantity {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  position: absolute;
  bottom: -0;
  right: -10px;
  background-color: var(--green);
  border-radius: 50%;
  padding-top: 2px;
}

.header-nav > ul > li:nth-child(1) {
  margin-left: auto;
}

@media (max-width: 650px) {
  header {
    font-size: 1rem;
  }

  .header-nav {
    margin-inline: 1rem;
  }

  .cart-icon {
    font-size: 1.2rem;
  }

  .cart-quantity {
    width: 14px;
    height: 14px;
    font-size: 0.6rem;
  }
}

@media (max-width: 450px) {
  header {
    font-size: 0.9rem;
  }

  .cart-icon {
    font-size: 1rem;
  }

  .header-nav > ul > li {
    padding: 0.3rem;
  }
}
