.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--dark-purple);
  color: var(--light-green);
}

.category:hover {
  color: var(--green);
}
