.addresses-section {
  margin-block: 4rem;
}

.addresses-section > h2 {
  font-size: 2.5rem;
  color: var(--dark-purple);
  padding-bottom: 1rem;
}

.addresses-section > button {
  font-size: 1.4rem;
  background-color: var(--dark-purple);
  color: var(--light-green);
  border: none;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.addresses-section > button:hover {
  color: var(--green);
}

.address-container {
  margin-block: 2rem;
  width: 500px;
  font-size: 1.4rem;
  background-color: var(--light-green);
  color: var(--dark-purple);
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.default-address {
  color: var(--green);
  text-align: end;
}

.address-buttons {
  display: flex;
  gap: 1rem;
  justify-content: end;
  margin-top: 1rem;
}

.address-buttons > button {
  font-size: 1.2rem;
  padding: 0.2rem 0.6rem;
  border: none;
  border-radius: 4px;
  background-color: var(--dark-purple);
  color: var(--light-green);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.address-buttons > button:hover {
  color: var(--green);
}

.address-form {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-purple);
  color: var(--light-green);
  font-size: 1.4rem;
  border: none;
  border-radius: 4px;
  padding: 2rem;
}

.address-form > label {
  display: flex;
  flex-direction: column;
}

.address-form select {
  font-size: 1.2rem;
  padding: 0.2rem;
  margin: 0 0 1rem 0.4rem;
  border-radius: 4px;
}

.address-form > button {
  width: 200px;
  font-size: 1.4rem;
  margin-top: 2rem;
  padding: 0.4rem;
  border: none;
  border-radius: 4px;
  background-color: var(--light-purple);
  color: var(--dark-purple);
}

.address-form input {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  width: 330px;
}

@media (max-width: 600px) {
  .address-container {
    width: auto;
    font-size: 1.2rem;
  }

  .addresses-section > h2 {
    font-size: 2rem;
  }

  .addresses-section > button {
    font-size: 1.2rem;
  }
}
