.user-form-layout-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--dark-purple);
  color: var(--light-green);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin-bottom: 2rem;
}

.user-form-section > h2 {
  font-size: 2rem;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.user-form > label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.user-form > label > select {
  font-size: 1.3rem;
  border-radius: 4px;
  border: none;
  margin-left: 0.5rem;
  width: 450px;
}

.user-form > button {
  font-size: 1.3rem;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  color: var(--dark-purple);
  background-color: var(--light-purple);
  cursor: pointer;
  margin-top: 1rem;
}

.user-form-section > p > a {
  color: var(--light-purple);
  text-decoration: underline;
}

.credentials {
  background-color: var(--light-green);
  color: green;
  padding: 1rem;
  border-radius: 4px;
}

@media (max-width: 650px) {
  .user-form-section > h2 {
    font-size: 1.8rem;
  }

  .user-form-layout-container {
    display: block;
  }

  .user-form > button {
    font-size: 1.1rem;
    width: 100px;
    margin-inline: auto;
  }

  .user-form > label > select {
    width: 250px;
    margin: 0;
  }

  .user-form > .send-password-link {
    width: auto;
  }
}
